<% if logged_in? %>

  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
        <div class="col-md-8">
          <h3>投稿一覧</h3>
          <%= render 'shared/feed' %>
        </div>
  </div>
  
<% else %>

<div class="center jumbotron">
  <h1><span>お母さん...</span><br>今日の晩ご飯、なに？</h1>

  <h2>
    我が家の料理をシェアしよう！
  </h2>
  <%= link_to image_tag("ikicchin19.png", alt: "料理している動物", id: "animal_image") %>
  <%= link_to "始めてみる！", signup_path, class: "btn btn-primary btn-lg", id: "signin-btn" %>
  <p>
    <img src="/assets/facebook.png" alt="facebook logo">
    <%= link_to "Facebookでログインする", "#", class: "login_facebook"  %>
  </p>
</div>

<% end %>