<% provide(:title, "プロフィール編集") %>

<h1>プロフィール変更</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(@user) do |f| %>
        
        <%= render 'shared/error_messages', object: f.object %>
        
        <%= f.label :name %>
        <%= f.text_field :name, class: "form_control" %>
        
        <%= f.label :username %>
        <%= f.text_field :username, class: "form_control" %>
        
        <%= f.label :email %>
        <%= f.email_field :email, class: "form_control" %>
        
        <%= f.label :webpage, "Web サイト" %>
        <%= f.text_field :webpage, class: "form_control" %>
        
        <%= f.label :self_introduction, "自己紹介文" %>
        <%= f.text_area :self_introduction, class: "form_control" %>
        
        <%= f.label :phone_number, "電話番号" %>
        <%= f.text_field :phone_number, class: "form_control" %>
        
        <div class="form-group row">
          <div class="col-sm-2">
            <%= f.label :sex, '性別', class: "form-label" %>
          </div>
         <div class="col-sm-10 btn-group" data-toggle="buttons">
            <label class="btn btn-outline-secondary active" style="width:50%">
              <%= f.radio_button :sex, "男性", {checked: true} %> 男性
            </label>
            <label class="btn btn-outline-secondary" style="width:50%">
              <%= f.radio_button :sex, "女性", {} %> 女性
           </label>
         </div>
        </div>
        
        <%= f.label :password %>
        <%= f.password_field :password, class: "form_control" %>
        
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form_control" %>
        
        <%= f.submit "変更する！", class: "btn btn-warning btn-lg" %>
        <% end %>
        
      <div class="gravatar_edit">
       <%= gravatar_for @user %>
       <a href="http://gravatar.com/emails" target="_blank">change</a>
      </div>
    </div>
</div>