<% provide(:title, "プロフィール編集") %>

<h1>プロフィール変更</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>
        
        <%= f.label :name %>
        <%= f.text_field :name, class: "form_control" %>
        
        <%= f.label :username %>
        <%= f.text_field :username, class: "form_control" %>
        
        <%= f.label :email %>
        <%= f.email_field :email, class: "form_control" %>
        
        <%= f.label :webpage, "Web サイト" %>
        <%= f.text_field :webpage, class: "form_control" %>
        
        <%= f.label :password %>
        <%= f.password_field :password, class: "form_control" %>
        
        <%= f.label :password_confirmation %>
        <%= f.text_field :password_confirmation, class: "form_control" %>
        
        <%= f.submit "変更する！", class: "btn btn-warning btn-lg" %>
        <% end %>
        
      <div class="gravatar_edit">
       <%= gravatar_for @user %>
       <a href="http://gravatar.com/emails" target="_blank">change</a>
      </div>
    </div>
</div>