<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Cooking recipes..." %>
  </div>
  <%= f.submit "投稿する", class: "btn btn-warning btn-lg" %>
   <span class="picture">
    <%= f.file_field :picture %>
   </span>
<% end %>