<div class="container">
  <div class="row">
      <div class="col-md-6" id="micropost-#{@micropost.id}">
      
          <% if @micropost.user.image? %>
        　　<%= image_tag @micropost.user.image.thumb.url, size: '50x50' %>
        　<% else %>
        　  <%= link_to gravatar_for(@micropost.user, size: 50), @micropost.user %>　
        　<% end %>
          
          <span><%= link_to "#{@micropost.user.name}", @micropost.user %></span>
          
          <ul>
            <li id="user-content"><%= @micropost.content %></li>
            <li id="user-img"><%= image_tag @micropost.picture.url if @micropost.picture? %></li>
          </ul>

            <%= form_for([@micropost, @comment]) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
              <div class="field">
                <%= f.text_area :body, placeholder: "Send comment..." %>
              </div>
                <%= f.submit "コメント", class: "btn btn-warning btn-lg" %>
                <% end %>
    
        </div>
        
      <div class="col-md-6">  
         <h3>Comments</h3>
           <% @micropost.comments.each do |comment| %>
             <% if @micropost.user.image? %>
      　　     <%= image_tag @micropost.user.image.thumb.url, size: '50x50' %>
      　     <% else %>
      　       <%= link_to gravatar_for(comment.user, size: 50), comment.user %>　
           　<% end %>
             <p><%= link_to "#{comment.user.name}" , @user %>: <%= comment.body %>
               <span><%= link_to "削除" , [@micropost,comment] , method: :delete if @micropost %></span>
             </p> 
             <hr/>
           <% end %>
           
        </div>
  </div>
</div>