<li id="micropost-#{@micropost.id}">
  
  <% if @micropost.user.image? %>
　　<%= image_tag @micropost.user.image.thumb.url, size: '50x50' %>
　<% else %>
　  <%= link_to gravatar_for(@micropost.user, size: 50), @micropost.user %>　
　<% end %>
  
  <span class="user"><%= link_to "#{@micropost.user.name}", @micropost.user %></span>
  
  <span class="content"><%= @micropost.content %>
    <%= image_tag @micropost.picture.url if @micropost.picture? %>
  </span>
</li>

<div class="comment_index">
   <h3>Comments</h3>
     <% @micropost.comments.each do |comment| %>
       <% if @micropost.user.image? %>
　　     <%= image_tag @micropost.user.image.thumb.url, size: '50x50' %>
　     <% else %>
　       <%= link_to gravatar_for(comment.user, size: 50), comment.user %>　
     　<% end %>
       <p><%= link_to "#{comment.user.name}" , @user %>: <%= comment.body %>
         <span><%= link_to "削除" , [@micropost,comment] , method: :delete if @micropost %></span>
       </p> 
       <hr/>
     <% end %>
</div>

<div class="comment-form">
  
      <%= form_for([@micropost, @comment]) do |f| %>
      
        <%= render 'shared/error_messages', object: f.object %>
   <div class="field">
      <%= f.text_area :body, placeholder: "Send comment..." %>
   </div>
      <%= f.submit "コメント", class: "btn btn-primary" %>
   <span class="picture">
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
   </span>
      <% end %>

  <script type="text/javascript">
    $('#micropost_picture').bind('change', function() {
      var size_in_megabytes = this.files[0].size/500/500;
      if (size_in_megabytes > 5) {
        alert('Maximum file size is 5MB. Please choose a smaller file.');
      }
    });
  </script>
  
  
</div> 